@media only screen and ( max-width: 1200px) {
.navbar-nav > li > a {    
    line-height: 1.2rem;
    padding: 1rem 1.2rem 0 0;    
    font-size: 1rem;    
    
}
}



@media only screen and ( max-width: 1024px) {

img.schema_image{
  display: none;

}
.schema_image_mobile {
   display: block;
   width: 80%;
   margin:auto;  
   position: relative;
   max-width: 20rem;
}
.defect__text1,
.defect__text2,
.defect__text3 {
  position: relative;
  display: block;
  width: 90%;
  margin:auto;
  text-align: left;
  right: 0;
  left: 0;
  margin-bottom: 1rem;
  
}
}

@media (min-width: 992px) {


#tab-four,
label.mobile__catalog_label.fasade{
  display: none!important;
}
}

@media (max-width: 991px) {

img.design__imаge {
  margin:auto;
}

.general_view {
    font-size: 1.125rem;   
    text-align: center; 
    margin-top: 2rem;  
}

#test{
  display: none;
}

.general_view span {
    font-size: 1rem;
    text-align: center;
    
}

a.slider_backcall {
    display: block;
    margin:auto;
    text-align: center;
    }
.general_image {
   margin:auto;
   display: block;
}



#header__top {
       
    box-shadow:none;
 
}

.technology__image_container {
  display: none;
}


.defect_image {
    max-width: 350px;
    display: block;
    margin:auto;
    margin-bottom: 1rem;
}


.cons__grid {
    left: 30%;    
}



.header__icon {
    width: 50%;
    margin: auto;
    border-right: none;
    height: 60px;
}

.header__icon_image {   
    max-width: 38px;
}

.main_screen__image {
    display: none;
}

#select_product {
    height: auto;
    min-height:  5rem;
}

.header__activity {
    font-size: 1.6rem;
    line-height: 2rem;    
    position: relative;
    margin-top: 14%;
    text-align: center;
    width: 90%;
    margin:auto;    
}

.header__order.callback {
    max-width: 250px;
    height: 55px;
    display: block;
    font-size: 0.9rem;
    margin:auto;    
    line-height: 55px;  
    margin-bottom: 2rem;  
}

.header__questions {
    font-size: 1rem;    
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}




.header__phone {    
    font-size: 1.1rem;    
    text-align: center;
    margin-top: 1.5rem;
}

#sign_up, #get_catalog {
    min-height: 44rem;
    position: relative;
}



.map_image {
  display: block;
    height: 100%;
    min-height: 300px;
    max-height: 320px;
    margin:auto;
    }
.inner_bottomblock {
    height: auto;
    display: none;
}



img.showroom_image {
    display: block;
    max-height: 18rem;
    margin:auto;
    margin-bottom: 1rem;
}


#catalog {
    display: none;
    
}
#mobile_catalog {
    display: block;
    min-height: 300px;
}

/*Мобильный каталог*/
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 90%;
  margin:auto;
  color: #000;
  overflow: hidden;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label.mobile__catalog_label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background-color: #4277d5;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  width: 80%;
  max-width: 350px;
  margin-left:auto;
  margin-right: auto
}

.tab-content {
  max-height: 0;
  overflow-x: hidden;
  background: #fff;
  transition: max-height .35s;
}

.tab-content p {
  margin: 1em;
}
/* :checked */
input:checked ~ .tab-content {
  max-height: 15em;
}
/* Icon */
label.mobile__catalog_label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  transition: all .35s;
}
input[type=checkbox] + label.mobile__catalog_label::after {
  content: "▼";
}
input[type=radio] + label.mobile__catalog_label::after {
  content: "▲";
}
input[type=checkbox]:checked + label.mobile__catalog_label::after {
 /* -webkit-transform: rotate(315deg);
          transform: rotate(315deg);*/
          content: "▲";
}
input[type=radio]:checked + label.mobile__catalog_label::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.phone_container,
.contacts__content  {
position: relative;
width: 100%;
padding-top: 10px;
}
.header__top_title,
.footer__top_title {     
     width: 80%;
     margin:auto;
     margin-top: 2rem;
}
.header__logo,
.footer__logo {
	position: relative;
	margin:auto;	
	display: block;
  left: 0;
}

.usage__block {
  margin-top: 2rem;    
    padding: 1rem;
    /*background-color: transparent;*/
}
.usage__grid {
    display: none;
}
.header__icon_container {
    margin-top: 1rem;
    border: none;
    padding-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
}
}


@media (max-width: 767px) {

a.callback_link {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    position: relative;
    padding-right: 1.25rem;   
    float: none; 
    text-align: center;  
    border-bottom: none;
    display: block;
}


.phone_container  {
position: relative;
width: 100%;
padding-top: 10px;
}
.header__icon {
    width: 70%;
    margin: auto;
    border-right: none;
    height: 60px;
}
.sign__title {
    font-size: 1.6rem;
    margin:auto;
    margin-top: 2rem;
    text-align: center;
}

.sign__subtitle {
    font-size: 1rem;    
    line-height: 1rem;    
    text-align: center;
    margin:auto;
    margin-bottom: 2rem;
}

}


@media only screen and ( max-width: 767px) and (orientation:portrait){
.section__title {
    font-size: 1.5rem;
   }

   p.showroom__subtitle {
    font-size: 1rem;
    width: 90%;
    margin:auto;
    margin-bottom: 1.5rem;
}

.defect_image {
    width: 100;
}

.select_item {
    margin-top: 1rem;
}

.slider_title {
    font-size: 1.5rem;    
    margin-bottom: 1.2rem;
    width: 90%;
    margin:auto;
}

.section__title,
.technology__title,
.guarantee__title,
.rubbish__title
 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    width: 90%;
    margin:auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.guarantee__subtitle {
    font-size: 1rem;
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    text-align: center;
    
}


.guarantee__block {
    max-width: 90%;
    min-width: 5rem;
    height: auto;
    border: 0.4rem solid #4277d5;
    padding: 1rem;    
    
}


.guarantee__block.left,
.guarantee__block.right {
    float: none;
    margin: auto; 
    margin-top: 1rem;   
}


span.gurantee__yaars {
    font-size: 2rem;
    text-align: center;
    line-height: 2.1rem;
    display: block;
    text-align: center;
    font-family: "Proxima Nova Bold"; 
    
}

span.gurantee__text {
    font-size: 1rem;
    text-align: center;
    display: block;  

}



.concurent__title,
.company__title {
    font-size: 1.4rem;
    line-height: 1.2rem;
    text-align: center;
    display: block;
   
}

.concurrent_block,
.company__block {
    margin-left: 5%;
}

.usage__text.company,
.usage__text.concurent {
    font-size: 1rem;   
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}


#custom_map {
    display: block;
    width: 100%;   
    float: none; 
    max-height: 500px;  

}


.map_image {  
  
    height: auto;
    width: 100%;
    padding-right: 0;
    float: none;
 
}


.romb_line {
    max-width: 1.2rem;
    max-height: 1.2rem;
   
}
.header__icon {
    width: 90%;
    margin: auto;    
    height: 3rem;
}

   /*Выбор брусчатки по схеме*/
   .catalog__subtitle, p.select__subtitle {
    font-size: 1rem;
    line-height: 1.1rem;
    width: 90%;
    margin:auto;
    margin-bottom: 1rem;
    
}
br.breaks {
  display: none;
}

#select_product {
   padding-bottom: 2rem;
}
.defect__text {
    font-size: 1rem;
}
.schema_image_mobile {
    
    width: 70%;
    }
}

/*Последствия неправильного выбора*/

img.showroom_image {
    width: 100%;
}

.consequences {
    font-size: 1.125rem;
    left: 30%;
    top: 2rem;
}
span.usage__text {
    
    font-size: 0.9rem;
    margin-bottom: 1rem;
   
}
}


@media only screen and ( max-width: 300px) {
.container-fluid {
    min-width: 290px;
    overflow-x: scroll;

}

    